/build
/.idea
*.iml
local.properties
.idea/libraries/anko_0_10_0.xml
.idea/libraries/anko_appcompat_v7_0_10_0.xml
.idea/libraries/anko_appcompat_v7_commons_0_10_0.xml
.idea/libraries/anko_appcompat_v7_coroutines_0_10_0.xml
.idea/libraries/anko_commons_0_10_0.xml
.idea/libraries/anko_coroutines_0_10_0.xml
.idea/libraries/anko_sdk25_0_10_0.xml
.idea/libraries/anko_sdk25_coroutines_0_10_0.xml
.idea/libraries/anko_sqlite_0_10_0.xml
.idea/libraries/anko_support_v4_0_10_0.xml
.idea/libraries/anko_support_v4_commons_0_10_0.xml
.idea/libraries/annotations_13_0.xml
.idea/libraries/appcompat_v7_24_2_1.xml
.idea/libraries/kotlin_stdlib_1_1_2_4.xml
.idea/libraries/kotlinx_coroutines_android_0_13.xml
.idea/libraries/kotlinx_coroutines_core_0_13.xml
.idea/libraries/library_1_0_4.xml
